@CHARSET "ISO-8859-1";
body{
	background-color:none;
}

#main{
	width:100%;
	height:600px;
	background-color:lightgrey;
}

#header{
	width:auto;
	height:80px;
	//border:1px solid red;
	background-color:white;
}

#logo img{
	width:100px;
	height:auto;
	float:left;
}

#logo h1{
	color:Blue;
	font-weight:bold;
	font-size:30px;
	word-spacing:10px;
	height:auto;
	float:left;
	margin-left:200px;
}

#middle{
	width:auto;
	height:80%;
	
}

#middle iframe{
	width:100%;
	height:100%;
	border:none;
	
}


#footer{
	width:auto;
	height:40px;
	background-color:white;


}

#footer p{
color:grey;
text-align:center;
margin-top:50px;
}