@CHARSET "ISO-8859-1";

#navMenu{
	margin:0;
	padding:0;
}

#navMenu ul{
	margin:0;
	padding:0;
	line-height:30px;
}
 
 #navMenu li{
 margin:0;
 padding:0;
 list-style:none;
 float:left;
 position:relative;
 
 }

 #navMenu ul li a{
 text-align:center;
 font-family:"Comic Sans MS" ,cursive;
 text-decoration:none;
 height:30px;
 width:150px;
 display:block;
 color:#000;
 }
 
 #navMenu ul ul{
 position:absolute;
 visibility:hidden;
 top:30px;
 
 }
 
 #navMenu ul li:hover ul {
 visibility:visible;
 }
 
 #high{
 background-color:blue;
// height:30px;
// width:30px;
 }